node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next
out
dist
coverage
*.local
.env*
.DS_Store
.vscode
.idea
.cache
*.swp
*.swo
*.tgz
*.md
build
test
.git
.gitignore
docker-compose.yml
Dockerfile
