services:
  api:
    build: .
    container_name: fit-check-backend
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - mongo
  mongo:
    image: mongo:7
    container_name: fit-check-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
