@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.937 0 0);
  --foreground: oklch(0.2749 0.0188 258.3656);
  --card: oklch(0.8945 0 0);
  --card-foreground: oklch(0.2749 0.0188 258.3656);
  --popover: oklch(0.8945 0 0);
  --popover-foreground: oklch(0.2749 0.0188 258.3656);
  --primary: oklch(0.4668 0.1481 24.9796);
  --primary-foreground: oklch(0.937 0 0);
  --secondary: oklch(0.7572 0 0);
  --secondary-foreground: oklch(0.2749 0.0188 258.3656);
  --muted: oklch(0.8266 0 0);
  --muted-foreground: oklch(0.4441 0.0229 248.3409);
  --accent: oklch(0.8638 0 0);
  --accent-foreground: oklch(0.2749 0.0188 258.3656);
  --destructive: oklch(0.6708 0.2165 25.1926);
  --destructive-foreground: oklch(0.937 0 0);
  --border: oklch(0.8078 0 0);
  --input: oklch(0.8638 0 0);
  --ring: oklch(0.4668 0.1481 24.9796);
  --chart-1: oklch(0.4668 0.1481 24.9796);
  --chart-2: oklch(0.5211 0.1342 143.3493);
  --chart-3: oklch(0.6583 0.1261 87.7469);
  --chart-4: oklch(0.5294 0.0364 247.0924);
  --chart-5: oklch(0.4823 0.102 21.5917);
  --sidebar: oklch(0.7316 0 0);
  --sidebar-foreground: oklch(0.2402 0.0145 248.4313);
  --sidebar-primary: oklch(0.4062 0.1264 24.7547);
  --sidebar-primary-foreground: oklch(0.937 0 0);
  --sidebar-accent: oklch(0.6862 0 0);
  --sidebar-accent-foreground: oklch(0.2749 0.0188 258.3656);
  --sidebar-border: oklch(0.6534 0 0);
  --sidebar-ring: oklch(0.4062 0.1264 24.7547);
  --font-sans: "Balsamiq Sans", cursive;
  --font-serif: "Lora", serif;
  --font-mono: "DM Mono", monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-opacity: 0.15;
  --shadow-color: #333333;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 20% / 0.07);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 20% / 0.07);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 20% / 0.15),
    0px 1px 2px -3px hsl(0 0% 20% / 0.15);
  --shadow: 0px 4px 8px -2px hsl(0 0% 20% / 0.15),
    0px 1px 2px -3px hsl(0 0% 20% / 0.15);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 20% / 0.15),
    0px 2px 4px -3px hsl(0 0% 20% / 0.15);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 20% / 0.15),
    0px 4px 6px -3px hsl(0 0% 20% / 0.15);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 20% / 0.15),
    0px 8px 10px -3px hsl(0 0% 20% / 0.15);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 20% / 0.38);
  --tracking-normal: 0.05em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2402 0.0145 248.4313);
  --foreground: oklch(0.937 0 0);
  --card: oklch(0.2749 0.0188 258.3656);
  --card-foreground: oklch(0.937 0 0);
  --popover: oklch(0.2749 0.0188 258.3656);
  --popover-foreground: oklch(0.937 0 0);
  --primary: oklch(0.5606 0.176 24.8518);
  --primary-foreground: oklch(0.2402 0.0145 248.4313);
  --secondary: oklch(0.3369 0.0192 251.4616);
  --secondary-foreground: oklch(0.937 0 0);
  --muted: oklch(0.3204 0.0203 248.4595);
  --muted-foreground: oklch(0.7305 0.0165 248.0546);
  --accent: oklch(0.3631 0.0232 250.9383);
  --accent-foreground: oklch(0.937 0 0);
  --destructive: oklch(0.6897 0.1998 23.9818);
  --destructive-foreground: oklch(0.2402 0.0145 248.4313);
  --border: oklch(0.4016 0.0237 241.3119);
  --input: oklch(0.3129 0.0181 248.4058);
  --ring: oklch(0.5606 0.176 24.8518);
  --chart-1: oklch(0.5606 0.176 24.8518);
  --chart-2: oklch(0.6731 0.1624 144.2083);
  --chart-3: oklch(0.8442 0.1722 84.9338);
  --chart-4: oklch(0.5724 0.0397 229.0246);
  --chart-5: oklch(0.5016 0.1887 27.4816);
  --sidebar: oklch(0.1978 0.0102 248.3407);
  --sidebar-foreground: oklch(0.937 0 0);
  --sidebar-primary: oklch(0.4917 0.1576 25.1033);
  --sidebar-primary-foreground: oklch(0.1978 0.0102 248.3407);
  --sidebar-accent: oklch(0.2524 0.0167 248.4904);
  --sidebar-accent-foreground: oklch(0.937 0 0);
  --sidebar-border: oklch(0.305 0.0182 248.4248);
  --sidebar-ring: oklch(0.4917 0.1576 25.1033);
  --font-sans: "Bebas Neue", sans-serif;
  --font-serif: "Roboto Slab", serif;
  --font-mono: "Roboto Mono", monospace;
  --radius: 0rem;
  --shadow-x: 0px;
  --shadow-y: 6px;
  --shadow-blur: 12px;
  --shadow-spread: -4px;
  --shadow-opacity: 0.4;
  --shadow-color: #000000;
  --shadow-2xs: 0px 6px 12px -4px hsl(0 0% 0% / 0.2);
  --shadow-xs: 0px 6px 12px -4px hsl(0 0% 0% / 0.2);
  --shadow-sm: 0px 6px 12px -4px hsl(0 0% 0% / 0.4),
    0px 1px 2px -5px hsl(0 0% 0% / 0.4);
  --shadow: 0px 6px 12px -4px hsl(0 0% 0% / 0.4),
    0px 1px 2px -5px hsl(0 0% 0% / 0.4);
  --shadow-md: 0px 6px 12px -4px hsl(0 0% 0% / 0.4),
    0px 2px 4px -5px hsl(0 0% 0% / 0.4);
  --shadow-lg: 0px 6px 12px -4px hsl(0 0% 0% / 0.4),
    0px 4px 6px -5px hsl(0 0% 0% / 0.4);
  --shadow-xl: 0px 6px 12px -4px hsl(0 0% 0% / 0.4),
    0px 8px 10px -5px hsl(0 0% 0% / 0.4);
  --shadow-2xl: 0px 6px 12px -4px hsl(0 0% 0% / 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (max-width: 640px) {
  input[type="text"],
  input[type="number"],
  textarea {
    font-size: 16px !important;
  }
}
