services:
  frontend:
    image: ishnoopy/fit-check-frontend:latest
    container_name: frontend
    restart: always
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=http://backend:4000
    ports:
      - "3000:3000"
    depends_on:
      - backend

  backend:
    image: ishnoopy/fit-check-backend:latest
    container_name: backend
    restart: always
    environment:
      - NODE_ENV=production
      - FRONTEND_URL=http://frontend:3000
      - DB_URL=mongodb://admin:admin@mongo:27017/fit-check?authSource=admin
      - JWT_SECRET=OneForAllQuirk
      - PORT=4000
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: fit-check-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro

volumes:
  mongo_data:
